<form name="addOrderForm" class="form-horizontal" ng-show="inner.isSelected(0)" ng-submit="orderSubmit()">
  <h4 class="text-center">Add order</h4>
  <fieldset>
    <div class="form-group">
      <label for="address" class="control-label col-sm-2">Address</label>
      <div class="col-sm-3" ng-controller="TypeaheadCtrl">
        <input type="text" class="form-control" id="address" placeholder="Street" ng-model="newOrder.street"
               typeahead="street.printable for street in getStreets($viewValue)" typeahead-min-length="3"
               autocomplete="off" typeahead-on-select="selectStreet($item)" typeahead-loading="loading"/>
        <i ng-show="loading" class="glyphicon glyphicon-refresh"></i>

      </div>
      <div class="col-sm-1">
        <input type="text" class="form-control" id="house" placeholder="House" ng-model="newOrder.house"/>
      </div>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="apt" placeholder="Apartments" ng-model="newOrder.apartments"/>
      </div>
    </div>
    <div class="form-group">
      <label for="work" class="control-label col-sm-2">Work type</label>
      <div class="col-sm-3">
        <select class="form-control" ng-model="orderSelectedWork" id="work"
                ng-options="work as work.get('Name') for work in workTypes"></select>
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="sub" placeholder="Work subtype" ng-model="newOrder.workSubtype"/>
      </div>
    </div>
    <div class="form-group" ng-controller="DateTimeCtrl">
      <label for="date" class="control-label col-sm-2">Date/Time</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="text" id="date" class="form-control" datepicker-popup ng-model="newOrder.date" is-open="opened"
                 datepicker-options="dateOptions" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
        </div>
      </div>
      <div class="col-sm-3">
        <timepicker ng-model="newOrder.date" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian">
        </timepicker>
      </div>
    </div>
    <div class="form-group">
      <label for="phone" class="control-label col-sm-2">Phone</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="phone" placeholder="Phone" ng-model="newOrder.phone"/>
      </div>
    </div>
    <div class="form-group">
      <label for="price" class="control-label col-sm-2">Price</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="price" placeholder="Price" ng-model="newOrder.price"/>
      </div>
    </div>
    <div class="form-group">
      <label for="critical" class="control-label col-sm-2">Critical</label>
      <div class="col-sm-1">
        <input type="checkbox" class="form-control" id="critical" ng-model="newOrder.critical"/>
      </div>
    </div>
    <div class="form-group">
      <label for="note" class="control-label col-sm-2">Note</label>
      <div class="col-sm-3">
        <textarea class="form-control" id="note" placeholder="Additional information (optional)"
                  ng-model="newOrder.note"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <input type="submit" class="btn btn-primary" value="Submit"/>
      </div>
      <div class="col-sm-2">
        <input type="button" class="btn btn-default" value="Close" ng-click="inner.set(2)"/>
      </div>
    </div>
  </fieldset>
</form>
<form name="addWorkerForm" class="form-horizontal" ng-show="inner.isSelected(1)" ng-submit="userSubmit()">
  <h4 class="text-center">Add worker</h4>
  <fieldset class="form-group">
    <div class="form-group">
      <label for="username" class="control-label col-sm-2">Username</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="username" placeholder="Username" ng-model="newUser.username"/>
      </div>
    </div>
    <div class="form-group">
      <label for="fullname" class="control-label col-sm-2">Full name</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="fullname" placeholder="Full name" ng-model="newUser.fullname"/>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="control-label col-sm-2">E-mail</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="email" placeholder="E-mail" ng-model="newUser.email"/>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="control-label col-sm-2">Password</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="password" placeholder="Password" ng-model="newUser.password"/>
      </div>
    </div>
    <div class="form-group">
      <label for="ipn" class="control-label col-sm-2">IPN</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="ipn" placeholder="IPN" ng-model="newUser.ipn"/>
      </div>
    </div>
    <div class="form-group">
      <label for="passport_n" class="control-label col-sm-2">Passport info</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="passport_n" placeholder="Passport number" ng-model="newUser.passportNumber"/>
      </div>
      <div class="col-sm-2">
        <input type="text" class="form-control" placeholder="Issued by" ng-model="newUser.issuedBy"/>
      </div>
      <div class="col-sm-3" ng-controller="DateTimeCtrl">
        <div class="input-group">
          <input type="text" id="issuingDate" class="form-control" datepicker-popup ng-model="newUser.passportDate" is-open="opened"
                 datepicker-options="dateOptions" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="user_phone" class="control-label col-sm-2">Phone</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="user_phone" placeholder="Mobile phone" ng-model="newUser.m_phone"/>
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="Home phone" ng-model="newUser.h_phone"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <input type="submit" class="btn btn-primary" value="Submit"/>
      </div>
      <div class="col-sm-2">
        <input type="button" class="btn btn-default" value="Close" ng-click="inner.set(2)"/>
      </div>
    </div>
  </fieldset>
</form>
