<div class="container">
  <ul class="nav nav-pills col-md-4">
    <li ng-class="{active:inner.isSelected(0)}">
      <a href ng-click="inner.set(0)">Add Order</a>
    </li>
    <li ng-class="{active:inner.isSelected(1)}">
      <a href ng-click="inner.set(1)">Add Worker</a>
    </li>
  </ul>
  <h3 id="title" class="col-md-4">{{selectedWork.get('Name')}}</h3>
  <ul class="nav nav-pills col-md-4">
    <li ng-class="{active:inner.isSelected(2)}">
      <a href ng-click="inner.set(2)">Orders List</a>
    </li>
    <li ng-class="{active:inner.isSelected(3)}">
      <a href ng-click="inner.set(3)">Workers</a>
    </li>
    <li ng-class="{active:inner.isSelected(4)}">
      <a href ng-click="inner.set(4)">Live Tracking</a>
    </li>
  </ul>
</div>