<div class="container">
  <ul class="nav nav-pills col-md-4">
    <li ng-class="{active:inner.isSelected('form', 1)}">
      <a href ng-click="inner.set('form', 1)">Add Order</a>
    </li>
    <li ng-class="{active:inner.isSelected('form', 2)}">
      <a href ng-click="inner.set('form', 2)">Add Worker</a>
    </li>
  </ul>
  <h3 id="title" class="col-md-4">{{selectedWork.get('Name')}}</h3>
  <ul class="nav nav-pills col-md-4">
    <li ng-class="{active:inner.isSelected('table', 1)}">
      <a href ng-click="inner.set('table', 1)">Orders List</a>
    </li>
    <li ng-class="{active:inner.isSelected('table', 2)}">
      <a href ng-click="inner.set('table', 2)">Workers</a>
    </li>
    <li ng-class="{active:inner.isSelected('table', 3)}">
      <a href ng-click="inner.set('table', 3)">Live Tracking</a>
    </li>
  </ul>
</div>